body {
    background-color: #f7f7f7;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    margin: 0;
    overflow-x: hidden;
}

.intro {
    display: flex;
    background-color: #42a5f5;
    padding: 20px;
    border-radius: 10px;
    margin-right: -20px;
    margin-left: -20px;
}

.imgpos {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.profile-image {
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.profile-image:hover {
    transform: scale(1.1);
}

.col {
    padding: 20px;
}

.legend {
    text-align: center;
    background-color: #64b5f6;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-right: -15px;
}