body {
	background-color: var(--bg-color);
	color: var(--text-color);
}


#start {
    margin-left: 20px;
}

.centered {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.legend {
    text-align: center;
    background-color: cyan;
    margin-left: 35%;
    margin-right: 35%;
}


p {
    margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
  }